In [1]:
i = 10
j = 20
print(i+j)

30

In [2]:
"""
......
|||||
"""

'\n......\n|||||\n'

In [4]:
print("Hello" * 10)

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello

In [7]:
str1 = "This is a Python Program."
str1.upper()

'THIS IS A PYTHON PROGRAM.'

In [8]:
print(str1.upper())

THIS IS A PYTHON PROGRAM.

In [9]:
print(len(str1))

25

In [10]:
len(str1)

25

In [11]:
print(7//3)
print(7/3)
print(7%3)

2
2.3333333333333335
1

In [15]:
x = 10.5*4.7
print("출력결과: {0}".format(x))
print("출력결과: {0:.1f}".format(x))
print("출력결과: {0:.3f}".format(x))
print("출력결과: {}".format(x))

출력결과: 49.35
출력결과: 49.4
출력결과: 49.350
출력결과: 49.35

In [16]:
x = input('정보입력: ')

정보입력: KWY

In [17]:
x

'KWY'

In [18]:
print(x)

KWY

In [19]:
x = int(input("정수 x = "))
y = int(input("정수 y = "))

fx = float(input("정수 fx = "))
fy = float(input("정수 fy = "))

정수 x = 1
정수 y = 2
정수 fx = 3
정수 fy = 4

In [26]:
x = int(input("정수 x = "))
y = int(input("정수 y = "))

정수 x = 500
정수 y = 600

In [27]:
print(x, y)

500 600

In [29]:
print("add", x+y)
print("sub", x-y)
print("mul", x*y)
print("div", x/y)

add 1100
sub -100
mul 300000
div 0.8333333333333334

In [31]:
x = int(input("정수 x = "))
y = int(input("정수 y = "))

print(x, "+",y, '=', x+y)
print(x, "-",y, '=', x-y)
print(x, "*",y, '=', x*y)
print(x, "/",y, '=', x/y)

정수 x = 7
정수 y = 5
7 + 5 = 12
7 - 5 = 2
7 * 5 = 35
7 / 5 = 1.4

In [34]:
from math import exp, log, sqrt
import re
from datetime import date, time, datetime, timedelta

In [35]:
today = date.today()
today

datetime.date(2022, 9, 19)

In [37]:
print("today:{0!s}".format(today))

today:2022-09-19

In [38]:
today = datetime.today()
today

datetime.datetime(2022, 9, 19, 20, 6, 33, 343424)

In [39]:
print(today)

2022-09-19 20:06:33.343424

In [40]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2 , 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [41]:
d

[1, 2, 'Life', 'is']

In [43]:
sum = 0
for data in [23, 4, 5, 67, 43, 12]:
    sum += data
    print(data)
print("최종합: ", sum )

23
4
5
67
43
12
최종합:  154

In [44]:
e

[1, 2, ['Life', 'is']]

In [46]:
print(e[0])
print(e[2])
print(e[2][0])

1
['Life', 'is']
Life

In [49]:
mat1 = [
    [1,2,3],
    [4,6,5],
    [7,8,9]
    ]

In [50]:
mat1

[[1, 2, 3], [4, 6, 5], [7, 8, 9]]

In [51]:
mat2 = [[0] * 4 for i in range(3)]
mat2

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [53]:
mat3 = []
for i in range(3):
    mat3.append([1] * 4)
print(mat1)
print(mat2)
print(mat3)

[[1, 2, 3], [4, 6, 5], [7, 8, 9]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1]]

In [55]:
a = [1, 2, 3]
b = [7, 8, 9]
print(a + b)
print(a*4)
print(b[0])
print(b[0:2])

[1, 2, 3, 7, 8, 9]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
7
[7, 8]

In [56]:
if 1 in a:
    print("jkladsjlk")

jkladsjlk

In [60]:
a = [1, 3, 2]
a. append(4)
print(a)

a.extend([4, 8])
print(a)

a.sort()
print(a)

a.reverse()
print(a)

a.insert(2, 7)
print(a)

print(a.index(3))

print(a.count(4))

[1, 3, 2, 4]
[1, 3, 2, 4, 4, 8]
[1, 2, 3, 4, 4, 8]
[8, 4, 4, 3, 2, 1]
[8, 4, 7, 4, 3, 2, 1]
4
2

In [61]:
dic = {'name':'pey', 'birth':'1118'}
print(dic)
print(dic['name'])
print(dic.get('name'))

{'name': 'pey', 'birth': '1118'}
pey
pey

In [62]:
for i in dic.keys():
    print(i)

name
birth

In [64]:
print(dic.values())

dict_values(['pey', '1118'])

In [70]:
lst = list(dic.keys())
for i in lst:
    print(i)
    print(type(i))
    print(type(lst))
print(lst)
tple = tuple(lst)
print(tple)
print(type(tple))

name
<class 'str'>
<class 'list'>
birth
<class 'str'>
<class 'list'>
['name', 'birth']
('name', 'birth')
<class 'tuple'>

In [73]:
s1 = set([1,2,3])
print(s1)
s2 = set("Hello")
print(s2)

{1, 2, 3}
{'o', 'H', 'l', 'e'}

In [74]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1&s2)
print(s1.intersection(s2))
print(s1|s2)
print(s1.union(s2))
print(s1-s2)
print(s1.difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

In [75]:
(a, b) = ('python', 'life')
a, b

('python', 'life')

In [77]:
a = 5
b = 3
a,b = b,a

In [79]:
a,b

(3, 5)

In [80]:
del a

In [81]:
a

NameError: name 'a' is not defined